body{
    background-color: #5a0000; /* Transição suave de azul claro para verde menta */
    margin: 0;
    padding-top: 80px; 
    text-align: center;
    font-family: sans-serif;
}

header{
    position: fixed;          /* fixa no topo */
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #ad0000;
    height: 80px;
    display: flex; 
    justify-content: space-between; /* Empurra os itens para os cantos opostos (logo na esquerda, nav na direita) */
    align-items: center; 
}

.logoHeader{
    margin-left: 20px;
    height: 70px;
    width: 190px;
    border-radius: 8px;
}

.botaoDesistir{
    text-align: center;     /* centraliza o texto dentro do "botão" */
    background-color: #de4132;
    color: white;
    border-radius: 4px;
    margin-right: 20px;
}
.botaoDesistir:hover{
    cursor: pointer;
}

.pergunta{
    align-items: center;      /* centraliza horizontalmente */
    text-align: center;
    flex-direction: column;
    display:flex;
    font-size: 28px;
    font-family: sans-serif;
    margin-bottom: 40px;

}

.opcoes{
    display: flex;
    flex-direction: column; /* empilha um abaixo do outro */
    align-items: center;    /* centraliza horizontalmente os filhos */
    gap: 12px;              /* espaço entre os botões */
    margin-top: 20px;
    font-family: sans-serif;
}

.logo{
    display: block;
    margin: 0 auto;      /* centraliza horizontalmente */
    width: 1250px;
    height: 324px;
    border-radius: 20px;
}


.botao{
    display: inline-block;  /* mantém o tamanho do conteúdo, mas permite padding */
    min-width: 200px;       /* opcional: garante largura mínima igual para todos */
    text-align: center;     /* centraliza o texto dentro do "botão" */
    background-color: #9c0000;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;  /* remove sublinhado do link */
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;           /* só se aplicar (não causa problema no <a>) */
}

.botao:hover{
     background-color: #380303; /* cor quando passa o mouse */
}

.texto{
    color: white;
}   


.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    border-width: 2px;
    border-style:double;
    border-color: black;
    border-radius: 15px;
}

/* GRID 2 x 2 */
.opcoes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas */
    gap: 20px;                      /* espaçamento entre botões */
    max-width: 500px;
    margin: 0 auto;
}

.opcao {
    display: block;
    background-color: #8b1313;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    transition: 0.3s;
}

.opcao:hover {
    background-color: #380303;
}

.opcao-img img {
    width: 100%;            /* imagem ocupa a célula inteira */
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
}

/* efeito hover (imagem escurece um pouco) */
.opcao-img img:hover {
    transform: scale(1.05); /* aumentar um pouco ao passar o mouse */
    filter: brightness(0.9);
}

.erro{
    align-items: center;      /* centraliza horizontalmente */
    text-align: center;
}

.jane{
    width: 600px;
    margin-bottom: 30px;
}

.musica{
    height:250px;
    margin-bottom: 30px;
}

.gato{
    margin-bottom: 50px;
}

.independencia{
    height:250px;
    margin-bottom: 30px;
}

.ronaldo{
    height:250px;
    margin-bottom: 30px;
}


.choro{
    height: 350px;
}

.centered {
  display: flex;
  flex-direction: column; /* empilha o gif em cima do botão */
  align-items: center;    /* centraliza horizontalmente */
  justify-content: center;/* opcional: centraliza verticalmente dentro do container */
  gap: 20px;              /* espaço entre gif e botão */
  padding: 20px;
  margin-bottom: 1000px;
}