.pergunta{
    margin-top: 200px;
    align-items: center;      /* centraliza horizontalmente */
    text-align: center;
    flex-direction: column;
    display:flex;
}

.opcoes{
    display: flex;
    flex-direction: column; /* empilha um abaixo do outro */
    align-items: center;    /* centraliza horizontalmente os filhos */
    gap: 12px;              /* espaço entre os botões */
    margin-top: 20px;
    margin-bottom: 700px;
}

.logo{
    display: block;
    margin: 0 auto;      /* centraliza horizontalmente */
    width: 1250px;
    height: 324px;
}

.gigante{
    width: 1900px;
    height: 15000px;
}

.botao{
    display: inline-block;  /* mantém o tamanho do conteúdo, mas permite padding */
    min-width: 200px;       /* opcional: garante largura mínima igual para todos */
    text-align: center;     /* centraliza o texto dentro do "botão" */
    background-color: #da6156;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;  /* remove sublinhado do link */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;           /* só se aplicar (não causa problema no <a>) */
}

.botao:hover{
     background-color: #8a2424; /* cor quando passa o mouse */
}




.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

/* pergunta */
.pergunta {
    font-size: 28px;
    margin-bottom: 40px;
}

/* GRID 2 x 2 */
.opcoes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas */
    gap: 20px;                      /* espaçamento entre botões */
    max-width: 500px;
    margin: 0 auto;
}

.opcao {
    display: block;
    background-color: #da6156;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.opcao:hover {
    background-color: #8a2424;
}

.opcao-img img {
    width: 100%;            /* imagem ocupa a célula inteira */
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
}

/* efeito hover (imagem escurece um pouco) */
.opcao-img img:hover {
    transform: scale(1.05); /* aumentar um pouco ao passar o mouse */
    filter: brightness(0.9);
}

.jane{
    width: 600px;
    margin-bottom: 30px;
}