.pergunta{
    margin-top: 200px;
    align-items: center;      /* centraliza horizontalmente */
    text-align: center;
    flex-direction: column;
    display:flex;
}

.opcoes{
    text-align: center;
    padding: 20px 30px;
    display:contents;
    display: flex;
    flex-direction: column;   /* coloca um embaixo do outro */
    gap: 10px;  
    margin-bottom: 1000px; /* espaçamento abaixo */
}
.logo{
    width: 1250px;
    height: 324px;
}

.gigante{
    width: 1900px;
    height: 2000px;
}

.botao{
    background-color: #da6156; /* cor normal */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s; /* animação suave */
}

.botao:hover{
     background-color: #8a2424; /* cor quando passa o mouse */
}